.btn{
    display: flex;
    width: 11vw;
    margin: 0.5rem;
    
    height: 11vw;
    max-width: 100px;
    max-height: 100px;
    
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    
}
.calculator-container{
    justify-content: center; 
    display: flex;
}

#berekening{
    font-size: 40px;
    border-radius: 25px;
    border: solid grey 3px
}
.card{
    border: solid black 5px;
    max-width: fit-content;
    border-radius: 50px;

}
header{
    background-color: beige;
    width: 100%;
    background-repeat: no-repeat;
    background-size:auto;
    display: block;
    height: 100px;
    margin-bottom: 20px;
    text-align: center;
    background-position: center top 60%;
    background-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius:25px ;
    border-bottom-right-radius:25px ;
    border: #333 1px solid;
    
}

footer {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
    /*position: fixed; */ 
    left: 0;
    bottom: 0; 
    width: 100%; 
    margin-top: 20px;
}
body{
    background-image: url('../images/header.jpg');
    background-position: 20%;
}
input{
margin-bottom: 20px;
}
@media only screen and (min-width:600px) {
    .btn{
        font-size: 40px;
        max-width: 70px;
        max-height: 70px;
    }
}
@media only screen and (min-width:800px) {
    .btn{
        font-size: 40px;
        max-width: 80px;
        max-height: 80px;
    }

    
}